{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ project.name }}|xasanbayev.uz{% endblock %}

{% block content %}

<section class="section project-detail container">

    <a href="{% url 'projects' %}" class="back-link">← Barcha loyihalar</a>

    <h1 class="project-title">{{ project.name }}</h1>

    <p class="project-detail-desc">
        {{ project.description }}
    </p>

    <h3>Ishlatilgan texnologiyalar</h3>
    <div class="project-tech">
        {% for tech in project.technologies.all %}
        <span>{{ tech.name }}</span>
        {% endfor %}
    </div>

    <div class="project-links">
        <a href="{{ project.github_link }}" target="_blank" class="btn">
            GitHub Repository
        </a>
    </div>

</section>

{% endblock %}